# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\qiqi1\Desktop\PhD_documents\PhD_literature\04_27_2021\TerminologyExtraction-baseline and main\TerminologyExtraction-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
